<%= form_for @usercreation do |f| %>

<div class="row">
  <div class="col-sm-3">
  <div class="form-group">
    <%= f.label :usertype %><br>
    <%= f.text_field :usertype%>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  </div>
  </div>
<% end %>
