<p id="notice"><%= notice %></p>

<p>
  <strong>Usertype:</strong>
  <%= @usercreation.usertype %>
</p>


<%= link_to 'Edit', edit_usercreation_path(@usercreation) %> |
<%= link_to 'Back', usercreations_path %>
