<%= form_for(@companycreation,:html => { :id => "form"})  do |f| %>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
    <%= f.label :companyname %><br>
    <%= f.text_field :companyname,:class => "required",:required => true %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
</div>
</div>
<% end %>
