<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @companycreation.companyname %>
</p>

<%= link_to 'Edit', edit_companycreation_path(@companycreation) %> |
<%= link_to 'Back', companycreations_path %>
