<%= form_for @yearcreation do |f| %>
<div class="row">
  <div class="col-sm-3">
  <div class="form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
  </div>
  </div>
<% end %>
