<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @yearcreation.year %>
</p>

<%= link_to 'Edit', edit_yearcreation_path(@yearcreation) %> |
<%= link_to 'Back', yearcreations_path %>
