
body
{
    background-image: url("11.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: #464646;
}
.navbar-custom
{
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}
h1, h2, h3, h4, h5, h6
 {
      text-align: center;
      font-family: fantasy;
      font-weight: bolder;
      position: relative;
      top:10px;
 }

  .login-form
   {
     background: #eee;
     width: 330px;
     margin: 9% auto 4% auto;
     position: relative;
     -webkit-border-radius: 0.4em;
     -o-border-radius: 0.4em;
     -moz-border-radius: 0.4em;
     form
     {
        width: 70%;
        margin: 0 auto;
        padding: 6% 0 9% 0;
     }
     input[type="submit"]
     {
         width: 230px;
         background-color:#21A957;
     }
     select
     {
         width: 230px;
     }
     input[type="text"] {
        width: 230px;

    }
    input[type="password"] {
       width: 230px;

   }
   }
   .container
   {
     img
     {
       width:500px;
       height:350px;
     }
   }
   @media screen and (max-width:500px)
    {
   .login-form
    {
      background: #eee;
      width: 300px;
      margin: 8% auto 3% auto;
      position: relative;
      -webkit-border-radius: 0.4em;
      -o-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
      form
      {
         width: 60%;
         margin: 0 auto;
         padding: 5% 0 7% 0;
      }
      input[type="submit"]
      {
          width: 230px;
          background-color:#21A957;
      }
      select
      {
          width: 230px;
      }
      input[type="text"] {
         width: 230px;

       }
     input[type="password"] {
        width: 230px;

      }
    }
    .container
    {
      img
      {
        width:280px;
        height:150px;
      }
    }
  }
