<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduletime:</strong>
  <%= @scheduletime.scheduletime %>
</p>

<%= link_to 'Edit', edit_scheduletime_path(@scheduletime) %> |
<%= link_to 'Back', scheduletimes_path %>
